<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="4.0">
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>com.fleetmanagement.controllers.VehicleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/api/vehicles</url-pattern>
    </servlet-mapping>
</web-app>
